.DS_Store
*.secrets
.ipynb_checkpoints
data/*
*.log
*.swp
HMP_Dataset

**/.ipynb_checkpoints/*
**/.virtual_documents/*
assets/.METADATA/job_run.*
assets/job_run
__pypackages__/
__pycache__/
*.py[cod]
*$py.class
*.so
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
*.mo
*.pot
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
.scrapy
docs/_build/
.pybuilder/
profile_default/
ipython_config.py
celerybeat-schedule
celerybeat.pid
.spyderproject
.spyproject
.ropeproject
.mypy_cache/
.pyre/
.pytype/
cython_debug/