[DEFAULT]
output_uri=cos://s3.eu-de.cloud-object-storage.appdomain.cloud/claimed-test/result
sql_query_crn=crn:v1:bluemix:public:sql-query:us-south:a/9b13b857a32341b7167255de717172f5:f9dd6c9e-b24b-4506-819e-e038c92339e4::
sql=SELECT * FROM cos://eu-de/claimed-test/data.parquet stored as parquet
endpoint=https://s3.eu-de.cloud-object-storage.appdomain.cloud
bucket_name=claimed-test
